<c-header>
  <c-container fluid>
    <c-header-text>
      <a [routerLink]="['/login']" cNavLink>Login Customer</a>
    </c-header-text>

    <c-header-nav class="ms-auto" *ngIf="userRole === 0">
      <c-nav-item>
        <a [routerLink]="['/sign']" cNavLink>Sign</a>
      </c-nav-item>
      <c-nav-item>
        <a [routerLink]="['/car-register']" cNavLink>Car Register</a>
      </c-nav-item>
    </c-header-nav>
  </c-container>

  <c-container fluid>
    <c-header-text>
      <a [routerLink]="['/login-manager']" cNavLink>Login manager</a>
    </c-header-text>

    <c-header-nav class="ms-auto" *ngIf="userRole === 10">
      <c-nav-item>
        <a [routerLink]="['/login-manager']" cNavLink>Login</a>
      </c-nav-item>
      <c-nav-item>
        <a [routerLink]="['/dashboard']" cNavLink>Dashboard</a>
      </c-nav-item>
    </c-header-nav>
  </c-container>

  <c-container fluid>
    <c-header-text>
      <a [routerLink]="['/login-mecano']" cNavLink>Login mecano</a>
    </c-header-text>

    <c-header-nav class="ms-auto" *ngIf="userRole === 5">
      <c-nav-item>
        <a [routerLink]="['/login-mecano']" cNavLink>Login</a>
      </c-nav-item>
      <c-nav-item>
        <a [routerLink]="['/appointment-list-mecano']" cNavLink>Appointment List Mecano</a>
      </c-nav-item>
    </c-header-nav>
  </c-container>

  <c-header-divider />
  <c-container fluid class="flex justify-between">
    <c-header-text>customer contact : 123 - pass: 123 </c-header-text>
    <c-header-text>manager contact : 1234 - pass: 1234 </c-header-text>
    <button (click)="logout()" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">logout</button>
  </c-container>
</c-header>
