<div>
    <div class="m-10">
        Car on Repair
    </div>

    <div class="px-10 py-2 w-full">
        <h1 class="text-2xl">Brand - Model</h1>
        <hr>
        <div class="information flex item-center justify-between">
            <div>
                <p>Date proposition</p>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 rounded-sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 rounded-sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
            </div>
            <div>
                <p><span><a href="">submit</a> </span></p>
            </div>
        </div>
    </div>

    <div class="px-10 py-2 w-full">
        <h1 class="text-2xl">Brand - Model</h1>
        <hr>
        <div class="information flex item-center justify-between">
            <div>
                <p>Date proposition</p>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 rounded-sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 rounded-sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
            </div>
            <div>
                <p><span><a href="">submit</a> </span></p>
            </div>
        </div>
    </div>
</div>