<div class="m-10">
    <div>
        <button mat-button (click)="openModal()" class="p-5 bg-black text-white w-fit">
            Register
        </button>
    </div>

    <div *ngIf="cars.length > 0; else noCars">
        <div class="py-10 w-full" *ngFor="let car of cars">
            <h1 class="text-2xl">{{ car.brand }} - {{ car.model }}</h1>
            <hr>
            <div class="flex item-center justify-between">
                <div class="information">
                    <p>Year: {{ car.year }}</p>
                </div>
                <div>
                    <a href="">history ></a>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noCars>
        <div class="my-5">
            <p>No cars registered yet.</p>
        </div>
    </ng-template>
</div>