<body class="bg-gray-100 font-sans text-gray-800 flex justify-center min-h-screen pt-10">
    <div class="max-w-md w-full">
        <div class="bg-white  overflow-hidden shadow-lg">
            <h1 class="text-center text-2xl font-semibold text-gray-900 p-6 bg-indigo-600 text-white">
                Manager
            </h1>
            <div class="p-8">
                <form (submit)="loginUser(); $event.preventDefault()" class="space-y-4">
                    <div>
                        <label for="contact" class="block mb-2 text-sm font-medium text-gray-700">Contact</label>
                        <input type="text" [(ngModel)]="contact" name="contact"
                            class="block w-full p-3  bg-gray-100 border border-gray-300 focus:ring-2 focus:ring-indigo-400 focus:border-indigo-500 outline-none"
                            value="manager">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
                        <input type="password" [(ngModel)]="password" name="password"
                            class="block w-full p-3  bg-gray-100 border border-gray-300 focus:ring-2 focus:ring-indigo-400 focus:border-indigo-500 outline-none"
                            value="manager">
                    </div>
                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white  shadow-md hover:bg-indigo-700 transition duration-300">
                        Login
                    </button>
                </form>
            </div>
            <p *ngIf="message" class="text-center text-red-500 font-medium p-2">{{ message }}</p>
        </div>
    </div>
</body>
