<div>
    <div class="container mx-auto px-4 py-6">
        Car on Repair
    </div>

    <div class="px-10 py-2 w-full">
        <h1 class="text-2xl">Brand - Model</h1>
        <hr>
        <div class="information flex item-center justify-between">
            <div>
                <p>Date <span><a href="">change date</a> (propose to the customer)</span></p>
                <select name="" id="">
                    <option value="">mecano 1</option>
                    <option value="">mecano 2</option>
                </select>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 -sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 -sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
            </div>
            <div>
                <p><span><a href="">Propose to the Mecano</a> </span></p>
            </div>
        </div>
    </div>

    <div class="px-10 py-2 w-full">
        <h1 class="text-2xl">Brand - Model</h1>
        <hr>
        <div class="information flex item-center justify-between">
            <div>
                <p>Date <span><a href="">change date</a> (propose to the customer)</span></p>
                <select name="" id="">
                    <option value="">mecano 1</option>
                    <option value="">mecano 2</option>
                </select>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 -sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="flex item-center justify-between bg-gray-200 p-2 my-2 -sm">
                    <div class="information flex gap-5">
                        <p><strong>probleme</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
            </div>
            <div>
                <p><span><a href="">Propose to the Mecano</a> </span></p>
            </div>
        </div>
    </div>
</div>